################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FamilyBoard/bin/Debug
/FamilyBoard/obj/Debug
/FamilyBoard/FamilyBoardUI/bin
/FamilyBoard/FamilyBoardUI/obj
/FamilyBoard/FamilyBoardUI/App_Data